@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274 100% 100%;
    --foreground: 274 5% 10%;
    --card: 274 50% 100%;
    --card-foreground: 274 5% 15%;
    --popover: 274 100% 100%;
    --popover-foreground: 274 100% 10%;
    --primary: 274 70% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 274 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 236 30% 95%;
    --muted-foreground: 274 5% 40%;
    --accent: 236 30% 90%;
    --accent-foreground: 274 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 274 5% 100%;
    --border: 274 30% 82%;
    --input: 274 30% 50%;
    --ring: 274 70% 66%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 274 100% 100%;
    --foreground: 274 5% 10%;
    --card: 274 50% 100%;
    --card-foreground: 274 5% 15%;
    --popover: 274 100% 100%;
    --popover-foreground: 274 100% 10%;
    --primary: 274 70% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 274 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 236 30% 95%;
    --muted-foreground: 274 5% 40%;
    --accent: 236 30% 90%;
    --accent-foreground: 274 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 274 5% 100%;
    --border: 274 30% 82%;
    --input: 274 30% 50%;
    --ring: 274 70% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
